main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo {
  width: 200px;
  height: 60px;
  background-image: url("./logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a{
text-decoration: none;
} 

aside a:visited{
	color: white;
}

a:visited{
	color: black;
}

a:hover {
text-decoration: underline;
} 

a:active{
	color: white;
}


.menu_container {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}
.menu_container > p {
  font-size: 18px;
  font-weight: 600;
}

.mode {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: azure;
  justify-self: flex-end;
  margin-left: auto;
}

.auth {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 20px;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
aside {
  width: 150px;
}
.side_bar {
  margin: 0 20px;
  margin-top: 108px;
  padding: 10px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  gap: 20px;
  border-radius: 15%;
  position: fixed;
}

.side_bar > p {
  color: white;
  font-size: 18px;
}
main {
  position: relative;
  padding: 20px 300px;
  width: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
h1 {
  font-size: 40px;
}
/* .profile_container {
  position: relative;
  width: 130px;
  height: 130px;
  background-image: url("./profile.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
} */
.change_image {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.info_box {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info_input {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(53, 53, 53);
  display: flex;
  align-items: center;
  gap: 10px;
}

.info_input > p {
  font-size: 18px;
}
/* 
.info_input > button {
  color: white;
  background-color: blueviolet;
  border: none;
  height: 30px;
  border-radius: 4px;
  padding: 0 10px;
 */


.but{
  color: white;
  background-color: blueviolet;
  border: none;
  height: 7px;
  border-radius: 4px;
  padding: 0 5px;	
}

.but2{
  color: white;
  background-color: blueviolet;
  border: none;
  height: 7px;
  border-radius: 4px;
  padding: 0 5px;	
}

.info_input > input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.info_input3 {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.info_input3 > p {
  font-size: 18px;
}
.info_input3 > input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.info_input4 {
  width: 100%;
  height: 30px;
    border-bottom: 2px solid rgb(53, 53, 53);
  display: flex;
  align-items: center;
  gap: 10px;
}

.info_input4 > p {
  font-size: 18px;
}
.info_input4 > input {
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}



.info_testarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_testarea > p {
  font-size: 18px;
}
.info_testarea > textarea {
  border: 2px solid rgb(53, 53, 53);
  border-radius: 10px;
  width: 100%;
  height: 200px;
  resize: none;
  outline: none;
  padding: 10px;
}
.submit_button  {
  width: 150px;
  height: 60px;
  background-color: blueviolet;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 24px;
}






.closeBtn  {
  width: 150px;
  height: 60px;
  background-color: blueviolet;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 24px;
}



.exit {
  position: absolute;
  bottom: 30px;
  right: -100px;
}
