@charset "UTF-8";
th {
	background-color: blueviolet;	
	color: white;
	
}


table{
	width: 900px; 
	height: 250px;
	text-align: center;
	font-size: 12pt;
}

h1{
	
	display: flex;
	gap:100px;
}

 .side_bar :hover  {
 text-decoration: underline;
} 
	
	

 div>button {
float: left;	
/* display: inline-block; */
} 
















