<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ShopMiniMall_01_basic</display-name>
  
  <filter>
  	<filter-name>MyEncodingFilter</filter-name>
  	<filter-class>com.filter.MyEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>	<!-- 모든 주소에 대해 처리함 -->
  </filter-mapping>
    
  <welcome-file-list>
    <welcome-file>MainForm.jsp/</welcome-file>	<!-- 프로젝트 시작 위치 , 나중에 main페이지로 수정바람  -->
  </welcome-file-list>
</web-app>