<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassCommentMapper">
	<select id="view" resultType="ClassCommentDTO">
	 	select comment_no, comment_notice, comment_date ,USERID, CLASSNUM
	 	from class_comment
	
	</select>
	
	<insert id="cmtAdd" parameterType="ClassCommentDTO">
		insert into class_comment (COMMENT_NO,COMMENT_NOTICE,USERID,CLASSNUM)
		 VALUES(#{comment_no},#{COMMENT_NOTICE},#{USERID},#{CLASSNUM})
	</insert>

	 <update id="cmtUpdate" parameterType="UpdateCommentDTO">
  		update class_comment
  		set COMMENT_NOTICE = #{textarea}, comment_date = sysdate, USERID = #{userid}
  		where CLASSNUM = #{CLASSNUM}
  	</update>
  	
  	<delete id="cmtDelete" parameterType="string">
	  	delete from class_comment
	  	where CLASSNUM = #{CLASSNUM}
  	</delete>
</mapper>