@charset "UTF-8";
.classList{
	font-family: 'Noto Sans KR', sans-serif;
	list-style: none; 
	text-decoration: none; 
	border-collapse:collapse; 
	margin : 0px;
	padding:0px;
	color : #000;
}

.ClassList h1{
	font-size:48px;
	font-weight:100;
}
.contents1{
	font-size:20px;
	font-weight:lighter;
}
.contents2{
	font-size:18px;
}
.contents3{
	font-size:14px;
	font-weight:100px;
}

.contents1_bold{
	font-size:18px;
	font-weight:bold;
}
/* --- */

.result{
	font-size:24px;
}

.intro_bg{
	background-image:url("../ClassList_img/intro3.jpg");
	width:100%;
	height:714px;
}
/* navbar 충돌방지 */
 /* .header{
	display:flex;
	width:1280px;
	margin:auto;
	height:86px;
	background:rgba(0,0,0,0.3);	
}
.nav #logo{
	line-height:60px;
	margin:auto;
	width: 150px;
	height:70px;
	display:inline-block;
	justify-content:flex-start
	
}

.nav{
	display:flex;
	justify-content: flex-start;
	width:1000px;
	line-height: 86px;  글자 간격
	background:blue;
	position:absoulte;
	right:0;
}
 
.nav > li{
	margin-right:84px;	
}

.nav > li > a{
	color:#fff;
}
*/
.amount{
	position:relative;
	top:-66px;
	display:flex;
	width:1280px;
	background:#fff;
	margin:auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin:auto;
}
.amount > li {
	flex:1;
	height:132px;
	}

.amount > li > div{
	text-align:center;
	margin-top:37px;
	height:57px;
}
.amount > li:not(:last-child) div{
	border-right:1px solid #fff;
}

.intro_text{
width:100%;
/* 간격 */
/* margin:231px auto 231px auto; */
text-align:center;
}

.intro_text > h1,
.intro_text > h4{
	color:#fff;
}

/*main_text0*/
.icon_img{
	height:130px;	
}

img{
	width:auto;
	max-height: 100%;
}

.main_text0{
	width:100%;
	height:601px;
	margin-top:-132px;
	background:#f1f2f3;
}
.main_text0 > h1{
	padding-top:116px;
	text-align:center;
/* 	background-color:blue; */
}
.main_text0 > .contents1 {
	text-align:center;
}

/* 검색창 */
.main_text0 > .searchArea{
	width:250px;
	height:40px;
	background:rgba(0,0,0,0.2);
	border-radius:5px;
	margin-top:24px;
	position : relative;
	left:30px;
}

.searchArea > form > input{
	border:none;
	width:205px;
	height:40px;
	background:rgba(0,0,0,0.0);
	color:#fff;
	padding-left:10px;
}

.searchArea > form > span{
	width:50px;
	color:#fff;
	font-weight: bold;
	cursor:pointer;
}


.category {
	width:240px;
	overflow:hidden;
	margin:10px auto;
	position:absolute;
	left:35px;
}

.category > li {
	width:100%;
	text-align:center;
	line-height:40px;
	background-color:#5778ff;
}

.category a {
	color:#fff;
}

.subcate > li{
	line-height:50px;
	background-color:#94a9ff;
}

.subcate {
	height:0; /* ul의 높이를 안보이게 처리  */
	overflow:hidden;
}

.category > li:hover {
	background-color:#94a9ff;
	transition-duration:0.5s;
}

.category > li:hover .subcate {
	height:250px; /* 서브메뉴 li 한개의 높이 50*5 */
	transition-duration:1s;
}


.icons{
	position:relative;
	/* display:flex; */
	width:1000px;
	height:302px;
	background:orange; 
	margin:10px auto;
}

footer{
	display:flex;
	background:#1f1f1f;
	padding:30px;
}

footer > div:first-child{
	flex:3;
	text-align:center;
	color:#fff;
}

footer > div:last-child {
	flex:9;
	color:#fff;
}

footer > h1{
	color:#fff;
}


/* main_text1 */
/* .main_text1_image {
	background-image:url("image/intro3.jpg");
	width:100%;
	height:714px;
} */

/* main_text2 */
.main_text2 {
	width:100%;
	height:418px;
	background-image:url("../ClassList_img/footer00.png");
}

.main_text2 > ul{
	display :flex;
	padding-top:138px;
}

.main_text2 > ul > li {
	flex: 1;
	text-align:center;
}

.main_text2 > ul > li > div > h1,
.main_text2 > ul > li > div {
	color:#fff;
}

.more2 {
	width:220px;
	height:40px;
	border:1px solid #fff;
	line-height: 40px;
	cursor: pointer;
	margin: 16px auto;
	
}
