/* nav바 css */
.navbar{ box-shadow: 0 0 5px black;
	font-family: 'Nanum Gothic', sans-serif !important; font-weight : bold;
	z-index: 2; margin: 0; top:0;
	display: flex; justify-content: space-between; align-items: center; 
	position: fixed !important; width: 100%; transition: 0.5s;
	background: black; align-items: center !important;}	
.navbar div{ display:flex; position:relative; align-items: center !important;} 
.navbar #nav_logo img{ padding: 0 10px; width: 160px; height: 40px;}
.navbar #nav_Menu{ font-size: 20px; display: flex; list-style: none;   margin: 0 !important;
					padding: 5px; background-color: white; border-radius: 30px; }
.navbar #nav_Menu li{ padding : 0px 20px; } 
.navbar .nav-item a{flex: 1; display: block; height: 40px; line-height: 40px; color:black; text-decoration: none;
					transition: 0.5s; }		
.navbar .nav-item a.on span{ color: #a45bba; }

/* login바css */
.navbar #loginName{ color: white; float: right; font-size: 15px;}
.navbar #nav_login{ display: flex; list-style: none;  padding-left: 0; margin: 0; padding: 0; text-align: center; }
.navbar #nav_login ul{ margin: 0; padding: 0;}
.navbar #nav_login li{ display: flex; list-style: none; padding: 0; text-align: center;  border : 0; float: right; }
.navbar #nav_login a{ margin: 0px 10px; text-align: center; text-decoration-line: none; color: white; opacity: .8;}
.navbar #nav_login a:hover{ opacity: 1;}


/* 반응형nav바 css */
@media screen and (max-width: 900px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    min-width: 300px;
  }
  .navbar #nav_Menu{
  	font-size: 25px;
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-width: 300px;
  }
  .navbar #nav_Menu li{ padding: 10px 0;}
  .navbar #nav_login {  
    display: none;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    min-width: 300px;
  }

  .navbar .navbar-menu-Btn {
    display: block !important;
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
    
  }
  .navbar .navActive { display: flex !important;}

}/* end 반영형 nav바 */


/* 모달css */
/* 네이버로그인 기본버튼 숨기고 커스텀버튼 사용 */
#naver_id_login{ display: none;}
#loginmodal_logo { display: block; margin: 10px auto; width: 150px; height: 150px;}
#loginmodal_close{ display: block; width: 30px; height: 30px;}
#loginModal .int-area label {
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; color: #999;	/* 이벤트 효과전 설정 */
	transition:top .5s ease;		/* 애니메이션효과(위로, 0.5초에 걸쳐,느리게시작 점점빨라졌다가 느려지면서 종료) */
}
#loginModal a{ opacity: 0.8;}
#loginModal a:hover{ opacity: 1;}
#loginModal .subloingBtn {
    text-align: center;
    display: block;
    width: 380px;
    text-decoration: none;	/* a태그 밑줄 삭제 */
    border-radius: 5px;
    line-height: 20px;
    color: white;
    font-size: 14px;
    padding: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;	/* 요소 자기 자신의 원래 위치(static일 때의 위치)를 기준으로 배치 */
}
#createmember_Btn{ color: rgb(255,120,120);}
#loginModal .subloingBtn:hover { opacity:1;}
#naverlogin{
    border: 1px solid rgb(66, 192, 66);
    border-width: 3px;
}
#naverlogin:hover{
	color: green;
}
#naverloginimg {
    position : absolute;
    left : 15px;
    top : 12px;
}
#kakaologin{
    border: 1px solid rgb(219, 206, 19);
    border-width: 3px;
}
#kakaologin:hover{
	color: yellow;
}
#kakaologinimg {
    position : absolute;
    left : 15px;
    top : 12px;
}

#login_modalbody {
	font-family: 'Noto Sans KR', sans-serif;	/* 구글폰트에서 글자스타일 가져옴 */	
	
	margin: auto;	
} 
#login_modalcontent {
	/* 보라색 */
	background: linear-gradient(black,rgb(80,80,150),rgb(160,80,100),#17141d);  
	border-radius: 20px;  
}


#loginform div {
	position: relative;
	z-index: 2;
	width: 400px; 
	position: relative;	/* 요소 자기 자신을 기준으로 배치 */
	margin-top: 20px; 
}
#loginform div h1 {
	font-size: 32px; color: rgb(128, 128, 128);
	text-align: center;
	margin-bottom: 60px;
}    
#loginform div:first-child {margin-top: 0;}	/* 부모 요소 안에 있는 첫번째 자식만을 선택 */
#loginform div input {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;	/*  미리 다른 배경 색상이 설정되어 있을 경우 filter 메서드와 충돌할 가능성이 있기 때문에 설정해놨음 */
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px; color: white;
	outline: none;		/* 외곽선 없음 */
}
#loginModal .int-area label {
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; color: #999;	/* 이벤트 효과전 설정 */
	transition:top .5s ease;		/* 애니메이션효과(위로, 0.5초에 걸쳐,느리게시작 점점빨라졌다가 느려지면서 종료) */
}

/* id,pw 입력시 텍스트 올라가는 애니메이션 위치*/
#loginModal .int-area input:focus + label,	/* focus 했을때 */
#loginModal .int-area input:valid + label {	/* 값입력안하고 로그인 눌렀을때 */
	 top: -2px;		/* 정해진 공간에서 2px정도 위로 */
	 font-size: 13px; color: #fff;	/* 13포인트까지, 파랑색으로 */
}

#sublogin_btnarea {
	margin-top: 30px;
}

/* 로그인버튼 이미지설정 */
#login_modalBtn {
	width: 100%;
	height: 50px;
	background:#999;
	color: #fff;
	font-size: 20px;
	border: none;			/* 선없게 */
	border-radius: 10px; 	/* 테두리 꼭지점 둥글게 */
	cursor: pointer;		/* 마우스를 경고창뜨는 글자 위로 커서이동 */
	opacity: 0.6;
}
#login_modalBtn:hover{
	opacity: 1;
}
/* caption태그 이미지설정 */
#loginModal .forgot {
	margin-top:20px;
	text-align: center;
}
#loginModal .forgot a {
	font-size: 15px; color: #999;
	text-decoration: none;	/* 선 안보이게 */
}	

/* 프로그래스바 */
.scrollindicator{
  width: 100%;
  height: 7px; /* height of progress bar */
  display: block;
  background: black;
  left: 0;
  top: 0; /* dock progress bar to bottom of page (change to "top" for top instead) */
  cursor: pointer;
  position: fixed;
  z-index: 1000000;
  visibility: hidden;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}

.scrollprogress{
  position: absolute;
  width: 100%;
  height: 100%;
  background: purple; /* background color of progress bar */
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform .4s ease; 
  transition: transform .4s ease; /* animate progress bar? Remove to disable */
}


/* 네비바 햄버거 메뉴 버튼 */
.navbar-menu-Btn {
  display: inline-block !important; 
  display: none !important;
  cursor: pointer; 
}

.navbar-menu-bar1, .navbar-menu-bar2, .navbar-menu-bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .navbar-menu-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .navbar-menu-bar2 {opacity: 0;}

.change .navbar-menu-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
