.header {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}
/* 
a {
  text-decoration: black;
} */

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

}
.navBar_logo{
  padding: 8px 10px;
}

.navBar_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navBar_menu li {
  padding : 8px 20px;
}
.navBar_menu li:hover{
  font-size: 20px;
  transition: 0.5s;

  /*더미 css*/
  border-bottom: solid;
  border-color: blueviolet;
  /*더미 css*/
}

.login {
  /* 로그인, 마이페이지 css */
  display: flex;
  list-style: none;
  padding-left: 0;
}

.login li{
  padding: 8px 10px;
}

.navBar_btn{
  display: none;
  position: absolute;
  right: 32px;
  padding-top: 18px;
}

@media screen and (max-width: 768px){
  .navBar{
    flex-direction: column;
    align-items: flex-start;
    border: 1px;
    background-color: blueviolet;
  }
  .navBar_menu{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /*더미 css*/
    background-color: blueviolet;
    /*더미 css*/
  }
  .navBar_menu li{
    width: 100%;
    text-align: center;
    padding-left: 0px;

    /*더미 css*/
    border-bottom: solid;
    border-color: blueviolet; 
    /*더미 css*/
  }
.login {  
    justify-content: center;
    width: 100%;

    /* 더미 css */
    border-bottom: solid;
    border-color: blueviolet;
   /*  더미 css */
  }
  .navBar_btn{
    display: block;
  }

}