@charset "UTF-8";

/* footer css 시작 */

footer{
   display:flex;
   background:#1f1f1f;
   height: 80px;
   box-shadow: 0px 2px 4px 2px;
}

footer .container{
   width:580px;
   height:80px;

   }


.f_top{margin-bottom:5px; position: relative; left: 90px; }
.f_top > ul{
	display:flex;
	text-align: left;
	position: relative ;
}
.f_nav .depth1 .tit {
   font-weight: 500;
   font-size:14px;
   color:#bebebe;
   letter-spacing: -0.4px;
   position: relative;
   left: 18%;
   margin-top: 3px;
   height: 3px;
}

.f_nav .depth2 li {
   line-height:40px;
   font-size:12px;
   color:inherit #bebebe;
   letter-spacing: -0.35px;
   list-style: none;
   height: 1px;
   
}
.f_nav .depth2 li:last-child{
   margin-bottom:0;
   color:#bebebe;
   }

.container2 {
	display:flex;
	width: 900px;
	height: 80px;
	margin-right: 20px;
	
}

.container2 .f_info{
   /* width: calc(100% - 100px); */
   
   margin-right: 20px;
   }

.container2 .f_info p{
   margin-bottom: 1px;
   font-size: 10px;
   line-height: 25px;
   color: #5a5a5a ;
   letter-spacing: -0.3px;
   text-align: left;
   position: relative ;
   right: 30px;
   }
   
#line_1{
	line-height: 5px;
	
}   
   
.container2 .f_info p:last-child{
   margin-bottom: 0; margin-top: 1px;
   }


.depth1{
	list-style: none;
	width: 130px;
}

.footer_font{
	color: rgb(212, 212, 212);
	text-decoration: none;
	position:relative;
	right: 10px;
}  
	
