/* 구글에서 폰트스타일 가져옴 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* margin(바깥여백), padding(안쪽여백) */
* {margin: 0; padding: 0; box-sizing: border-box;}

img { 
	display: block; margin: 10px auto; 
	width: 150px;
	height: 150px;
}
a.btn {
    text-align: center;
    display: block;
    width: 380px;
    text-decoration: none;	/* a태그 밑줄 삭제 */
    border-radius: 5px;
    line-height: 20px;
    color: white;
    font-size: 14px;
    padding: 13px;
    opacity: 0.8;	/* 불투명 설정(0에 가까울수록 투명하다) */
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;	/* 요소 자기 자신의 원래 위치(static일 때의 위치)를 기준으로 배치 */
}
a.btn:hover { 
    opacity:1;	/* 마우스올려둘시 투명도 없어짐 */
}
a.btn1{
    border: 1px solid rgb(66, 192, 66);
    border-width: 3px;
}
a.btn2{
    border: 1px solid rgb(219, 206, 19);
    border-width: 3px;
}
a.btn1:before {
    content: url(../LoginImg/icon_naver.png);
    position : absolute;
    left : 15px;
    top : 12px;
}
a.btn2:before {
    content: url(../LoginImg/icon_kakao.png);
    position : absolute;
    left : 15px;
    top : 12px;
}
/* a태그 링크 이벤트 */
a:visited {	/* 클릭전 */
  color : white;
}
a:hover {	/* 마우스 위에 올려뒀을때 */
  color : #d811ee;
}
a:active {	/* 마우스 누르는중 */
  color : green
}        
body {
	font-family: 'Noto Sans KR', sans-serif;	/* 구글폰트에서 글자스타일 가져옴 */
	display: flex;				/* 하나의 플렉스 아이템이 자신의 컨테이너가 차지하는 공간에 맞추기 위해 크기를 키우거나 줄이는 방법을 설정하는 속성 */
	justify-content: center;	/* 센터를 축으로 정렬 */
	align-items: center;		/* x축 가운데정렬 */
	height: 100vh;				/* vh(폰트 사이즈 단위) */
	background: url("../LoginImg/loginBg2.gif") no-repeat center;	/* 배경이미지,반복안함, 위치 설정*/
	background-size: cover;		/* 배경이미지 크기 조절 */
}

body:before {	/* body태그의 앞에 놓여지는 가상태그 */
	content: "";
	position: absolute; 					/* 부모요소를 기준으로 배치 */
	z-index: 1;								/* 요소가 겹칠때 값이클수록 위로 올라옴 */
	top: 0; right: 0; bottom: 0; left: 0;	/* 화면 중앙 정렬 */
	background-color: rgba(0,0,0,.7)		/* 배경이미지 투명도 설정 */
}

.login-form {position: relative; z-index: 2;}
.login-form h1 {
	font-size: 32px; color: rgb(128, 128, 128);
	text-align: center;
	margin-bottom: 60px;
}
.int-area {
	width: 400px; 
	position: relative;	/* 요소 자기 자신을 기준으로 배치 */
	margin-top: 20px; 
}
.int-area:first-child {margin-top: 0;}	/* 부모 요소 안에 있는 첫번째 자식만을 선택 */
.int-area input {
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;	/*  미리 다른 배경 색상이 설정되어 있을 경우 filter 메서드와 충돌할 가능성이 있기 때문에 설정해놨음 */
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px; color: white;
	outline: none;		/* 외곽선 없음 */
}
.int-area label {
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; color: #999;	/* 이벤트 효과전 설정 */
	transition:top .5s ease;		/* 애니메이션효과(위로, 0.5초에 걸쳐,느리게시작 점점빨라졌다가 느려지면서 종료) */
}

/* id,pw 입력시 텍스트 올라가는 애니메이션 위치*/
.int-area input:focus + label,	/* focus 했을때 */
.int-area input:valid + label {	/* 값입력안하고 로그인 눌렀을때 */
	 top: -2px;		/* 정해진 공간에서 2px정도 위로 */
	 font-size: 13px; color: #166cea;	/* 13포인트까지, 파랑색으로 */
}

.btn-area {margin-top: 30px;}

/* 로그인버튼 이미지설정 */
.btn-area button {
	width: 100%;
	height: 50px;
	background:rgb(255, 0, 255);
	color: #fff;
	font-size: 20px;
	border: none;			/* 선없게 */
	border-radius: 10px; 	/* 테두리 꼭지점 둥글게 */
	cursor: pointer;		/* 마우스를 경고창뜨는 글자 위로 커서이동 */
	opacity: 0.8;
}
.btn-area button:hover{
	opacity: 1;
}
/* caption태그 이미지설정 */
.caption {
	margin-top:20px;
	text-align: center;
}
.caption a {
	font-size: 15px; color: #999;
	text-decoration: none;	/* 선 안보이게 */
}