.header{
  display: inline-block;
  width: 100%;
  line-height: 200px;
  text-align: center;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 239, 230);
}

.header .info{
  height: 200px;
  color: white;
  font-size: 40px;
  background-color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  vertical-align: middle;
}

.middle {
  background-color: rgb(246, 239, 230);
  height: 700px;
}

.middle table{
  margin-top: 100px;
  background-color: white;
  width: 800px;
  border-radius: 5px;
}
.middle table th {
  border: 1px solid lightgray;
}


