	.wrap{
		min-width: 768px;
		margin-left: 150px;
		margin-right: 150px;
		margin-top: 100px;
	}
	
	.tutor{
		margin-top: 15px;
	}
	#left{
		height: 100%;
		width: 78%;
		float: left;
	}
	#right{
		height: 100%;
		width: 22%;
		float: right;
	}
	
	/* 오른쪽의 결제 box */
	.box {
		/* background-color: white;
		width: 180px;
		height: 160px;
		padding: 20px; 
		border: 8px solid #6633FF;
		border-radius: 20px 20px 20px 20px;
		
		text-align:right;*/
		border: 3px solid #6633FF;
		border-radius: 15px 15px 15px 15px;
		margin: 80px; 
		position : fixed;
		
	}
	
	/* box.jsp의 price */
	#price{
		text-align: right;
		font-size: 24px;
		font-weight: bold;
		/* 
		text-align: right;
		position: absolute;
		top: 20%;
		right: -15%;
		transform: translate(-50%, -30%); */
	}
	/* 회차 선택 드롭다운 */
	#scheduleMenuButton{
		color: #6633FF;
		font-weight: bold;
	}
	/* 수강결제 버튼 */
	#payBtn{ 
		background-color: #6633FF;
		outline-color: white;
		font-weight: bold;
		/* 
		color: white; 
		font-size: 18px; 
		width: 70%;
		height: 25%;
		text-align: center;
		cursor : pointer;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, 60%); */
	}
	/* 수강결제 글자 */
	#payBtn2{
		/* position: absolute;
		top: 17%;
		left: 18%; */
	}
	/* 찜 버튼 */
	#heart{
		cursor : pointer;
	}
	#heartCount{
		/* position: absolute;
		bottom: 18%;
		left: 125%; */
	}
 	
	/* photo container */
	.container > #photo{ 
		display: flex;
	}
	/* photo 버튼 */
	.photoBtn{
		height: 200px;
		cursor : pointer;
		widows: 50px;
	}
	/* photo 왼쪽 오른쪽 버튼 이미지 */
	.photoBtn2{
		transform: translate(0, 150%);
	}
	.photo{
		margin: 5px;
	}
	/* class photo의 이미지 */
	.photoSize{
		width: 300px; 
		height: 200px;
	}
	 
	 