	.nav-item > .nav-link {
		color: black;
	}
	.wrap{
		min-width: 768px;
		margin-left: 150px;
		margin-right: 150px;
		margin-top: 100px;
	}
	 
	.nav-tabs .nav-item a:hover{
		font-size: 110%;
		color: black;
		font-weight: bold;
	} 
	.nav-tabs .nav-item a:active{
		color: white;
		font-weight: bold;
		background-color: blueviolet;
	}
	.tutor{
		margin-top: 15px;
	}
	#left{
		height: 100%;
		width: 78%;
		float: left;
	}
	#right{
		height: 100%;
		width: 22%;
		float: right;
	}
	/* 오른쪽의 결제 box */
	.box {
		border: 3px solid blueviolet;
		border-radius: 15px 15px 15px 15px;
		margin: 80px; 
		position : fixed;
	}
	#bigImg{
		text-align: center;
	}
	
	/* box.jsp의 price */
	#price{
		text-align: right;
		font-size: 24px;
		font-weight: bold;
	}
	/* 회차 선택 드롭다운 */
	#scheduleMenuButton{
		color: blueviolet;
		font-weight: bold;
	}
	/* 수강결제 버튼 */
	#payBtn{ 
		background-color: blueviolet;
		outline-color: white;
		font-weight: bold;
	}
	/* 찜 버튼 */
	#heart{
		cursor : pointer;
	}
	/* photo container */
	.container > #photo{ 
		display: flex;
	}
	/* photo 버튼 */
	.photoBtn{
		height: 200px;
		cursor : pointer;
		widows: 50px;
	}
	/* photo 왼쪽 오른쪽 버튼 이미지 */
	.photoBtn2{
		transform: translate(0, 150%);
	}
	.photo{
		margin: 5px;
	}
	/* class photo의 이미지 */
	.photoSize{
		width: 300px; 
		height: 200px;
	}
	#photoPart{
		margin-left: 10%;
		margin-right: 10%;
	}
	#carouselExampleControls{
		width: 90%;
		max-height: 60%;
	}
	.carousel-inner > .carousel-item >img{
		top: 0;
      	left: 0;
     	min-width: 100%;
     	min-height: 300px;
	}
	#classNav{
		background-color: white;
		width: 100%;
		z-index: 2;
	}
	