<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassMapper">
	<select id="selectClass" resultType="ClassDTO" parameterType="int">
		select classnum, classname, userid, subcategory, price, place, schedule1,
		schedule2,schedule3,schedule4,schedule5,schedule6,schedule7,schedule8,schedule9,schedule10
		from class
		where classnum = #{classNum}
	</select>
	
	<select id="selectNickName" parameterType="string" resultType="string">
		select DISTINCT nickname
		from class join member using(userid)
		where userid = #{tuterId}
	</select>
    
    <insert id="classOpen" parameterType="ClassDTO">
    	insert into 
    	class(classnum, classname, userid, subcategory, price, place,
    	schedule1,schedule2,schedule3,schedule4,schedule5,schedule6,schedule7,schedule8,schedule9,schedule10)
    	values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    #{schedule1, jdbcType=VARCHAR},#{schedule2, jdbcType=VARCHAR},#{schedule3, jdbcType=VARCHAR},
	    #{schedule4, jdbcType=VARCHAR},#{schedule5, jdbcType=VARCHAR},#{schedule6, jdbcType=VARCHAR},
	    #{schedule7, jdbcType=VARCHAR},#{schedule8, jdbcType=VARCHAR},#{schedule9, jdbcType=VARCHAR},
	    #{schedule10, jdbcType=VARCHAR})
    </insert>
    
    <select id="searchClassNum" parameterType="hashmap" resultType="int">
    	select classNum 
    	from class
    	where classname= #{cName} and userid=#{cID}
    </select>

</mapper>