<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassOrderMapper">
   
	<insert id="classOrder" parameterType="ClassOrderDTO">
		insert into
		classorder(orderNum, userId, classNum, price, orderDate, orderStatus, 
		schedule1,schedule2,schedule3,schedule4,schedule5,schedule6,schedule7,schedule8,schedule9,schedule10)
		values(#{orderNum},#{userId},#{classNum},#{price},sysdate,#{orderStatus},
	    		#{schedule1, jdbcType=VARCHAR},#{schedule2, jdbcType=VARCHAR},#{schedule3, jdbcType=VARCHAR},
	    		#{schedule4, jdbcType=VARCHAR},#{schedule5, jdbcType=VARCHAR},#{schedule6, jdbcType=VARCHAR},
	    		#{schedule7, jdbcType=VARCHAR},#{schedule8, jdbcType=VARCHAR},#{schedule9, jdbcType=VARCHAR},
	    		#{schedule10, jdbcType=VARCHAR})
	</insert>
    <select id="findOrder" parameterType="ClassOrderDTO" resultType="int">
    	select count(*)
		from classorder
		where classNum= #{classNum} and userId= #{userId} 
    </select>
    <select id="findSched" parameterType="hashmap" resultType="int">
    	select count(*)
		from classorder
		where classNum= #{classNum} and userId = #{userId} 
		
    </select>
    <select id="findRecord" parameterType="hashmap" resultType="hashmap">
    <!-- select nvl(schedule1,1) schedule1,nvl(schedule2,2) schedule2,nvl(schedule3,3) schedule3,nvl(schedule4,4) schedule4,nvl(schedule5,5) schedule5,nvl(schedule6,6) schedule6,nvl(schedule7,7) schedule7,nvl(schedule8,8) schedule8,nvl(schedule9,9) schedule9,nvl(schedule10,10) schedule10
		from classorder
		where classNum= #{classNum} and userId = #{userId} -->
    select nvl(schedule1,1) schedule1,nvl(schedule2,1) schedule2,nvl(schedule3,1) schedule3,nvl(schedule4,1) schedule4,nvl(schedule5,1) schedule5,nvl(schedule6,1) schedule6,nvl(schedule7,1) schedule7,nvl(schedule8,1) schedule8,nvl(schedule9,1) schedule9,nvl(schedule10,1) schedule10
		from classorder
		where classNum= 221 and userId = '1'
		
    </select>

    
</mapper>