<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassMapper">
	<select id="select" resultType="ClassDTO" parameterType="int">
		select classnum, classname, userid, category, price, schedule, place
		from class
		where classnum = #{classNum}
	</select>
	
	<select id="selectNickName" parameterType="string" resultType="string">
		select nickname
		from class join member using(userid)
		where userid = #{tuterId}
	</select>
    
    <insert id="classOpen" parameterType="ClassDTO">
    	insert into 
    	class(classnum, classname, userid, subcategory, price, place,
    	schedule1,schedule2,schedule3,schedule4,schedule5,schedule6,schedule7,schedule8,schedule9,schedule10)
    	<choose>
    		<when test="schedule2 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},null,null,null,null,null,null,null,null,null)
    		</when>
    		<when test="schedule3 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},null,null,null,null,null,null,null,null)
    		</when>
    		<when test="schedule4 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},null,null,null,null,null,null,null)
    		</when>
    		<when test="schedule5 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},null,null,null,null,null,null)
    		</when>
    		<when test="schedule6 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},#{schedule5},null,null,null,null,null)
    		</when>
    		<when test="schedule7 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},#{schedule5},#{schedule6},null,null,null,null)
    		</when>
    		<when test="schedule8 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},#{schedule5},#{schedule6},
	    		#{schedule7},null,null,null)
    		</when>
    		<when test="schedule9 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},#{schedule5},#{schedule6},
	    		#{schedule7},#{schedule8},null,null)
    		</when>
    		<when test="schedule10 == null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},#{schedule5},#{schedule6},
	    		#{schedule7},#{schedule8},#{schedule9},null)
    		</when>
    		<when test="schedule10 != null">
	    		values(CLASS_SEQ.nextval,#{className},#{userId},#{subcategory},#{price},#{place},
	    		#{schedule1},#{schedule2},#{schedule3},#{schedule4},#{schedule5},#{schedule6},
	    		#{schedule7},#{schedule8},#{schedule9},#{schedule10})
    		</when>
    	</choose>
    </insert>

</mapper>