<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heartlistMapper">
   

	
	<select id="heartList" parameterType="string" resultType="heartlistDTO">
	select heart.classnum, class.classname, class.price, heart.userid, heart.num
	from class JOIN heart ON heart.classnum = class.classnum
	where heart.userid=#{userid}
	</select> 

<!-- 지금 해당 아이디 로그인한거에서 안지워지고 classnum 지우랬더니 모든 사람에 classnum이 지워짐 -->

	<delete id="heartlistdel" parameterType="int">
	delete from heart
	where num = #{num} 
	</delete>
	


	<delete id="heartlistdelall" parameterType="arraylist">
	delete from heart
	where num 
	IN
	 <foreach collection="list" item="item" open="(" separator="," close=")">
       #{item}
     </foreach>	
	</delete>
	
    
</mapper>