
#cmt_form{
    position:absolute;
    left:20%;
    

    display: grid;
    grid-template-columns: 90px 200px repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-template-rows: 30px 1px 90px 1px 90px 1px 90px 1px 30px;
    grid-template-areas: 
    "cmheader cmheader score"
    "line1 line1 line1"
    "img1 notice1 notice1"
    "line2 line2 line2"
    "img2 notice2 notice2"
    "line3 line3 line3"
    "img3 notice3 notice3"
    "line4 line4 line4"
    "button1 button2 button3"
    
}

.cmheader{
    grid-area: cmheader;
}

.score{
    grid-area: score;
    margin: 7px;
    text-align: right;
    
   
}

.line1{
    grid-area: line1;
}
.line2{
    grid-area: line2;
}
.line3{
    grid-area: line3;
}
.line4{
    grid-area: line4;
}


.img1{
    background-image: url("../class_img/comment_img/OGO_favicon.png");
    background-size: 60px;
    background-position: 15px 30px;
    background-repeat: no-repeat;
    grid-area: img1;
    
    
}

.img2{
    background-image: url("../class_img/comment_img/OGO_favicon.png");
    background-size: 60px;
    background-position: 15px 30px;
    background-repeat: no-repeat;
    grid-area: img2;
}

.img3{
    background-image: url("../class_img/comment_img/OGO_favicon.png");
    background-size: 60px;
    background-position: 15px 30px;
    background-repeat: no-repeat;
    grid-area: img3;
}

.notice1{
    grid-area: notice1;
    color: black;
}

.notice2{
    grid-area: notice2;
    margin:  20px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    color: black;
}

.notice3{
    grid-area: notice3;
    margin:  5px;
}

#notice_detail{
	font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
	
}


.cmt_header{
	
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

#cmt_score{
    font-family: 'Sunflower', sans-serif;
    color: rgb(133, 54, 218);
    font-weight: bold;
    font-size: 26px;    
}

#cmt_total{
    font-family: 'Sunflower', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 26px;
}

.cmt_line1{
    border: solid 1px rgba(126, 126, 126, 0.753);
    border-radius: 4px;
}

.cmt_line2{
    border: solid 1px rgba(126, 126, 126, 0.753);
    border-radius: 4px;
}

.cmt_line3{
    border: solid 1px rgba(126, 126, 126, 0.753);
    border-radius: 4px;
}

.cmt_line4{
    border: solid 1px rgba(126, 126, 126, 0.753);
    border-radius: 4px;
}

.button_body{
    background-color: black;
    width: 90px;
    height: 40px;
    border: solid 3px; color: rgb(159, 129, 192);
    border-radius: 6px;
    cursor: pointer;
}
.button_body:hover{
    color:rgb(133, 54, 218);
   
}
#cmt_button2{
	grid-area: button2;
	position :absolute;
	width : 80px;
	height :40px;
    top: 70%;
    left: 84%;
    font-family:  'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: rgb(159, 129, 192);
	
}


#cmt_button1{
    grid-area: button3;
    position :absolute;
    top: 70%;
    left: 84%;
    font-family:  'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: rgb(159, 129, 192);
    
}
#cmt_button1:hover{

    background: -webkit-linear-gradient( rgb(23, 6, 42), rgb(114, 75, 154));
    background: -moz-linear-gradient(rgb(23, 6, 42), rgb(114, 75, 154));
    background: -o-linear-gradient(rgb(23, 6, 42), rgb(114, 75, 154));
    background: linear-gradient(rgb(23, 6, 42) rgb(114, 75, 154));
    color: rgb(168, 131, 197);
}
#cmt_button1:active{
    color: rgb(183, 148, 179);
}

    
